<section>
    <div class="page-header">
        <h1>New Contact</h1>
    </div>
    <div class="col-md-12">
        <form name="contactForm" class="form-horizontal" data-ng-submit="update(contactForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.firstName.$invalid}">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input name="firstName" type="text" data-ng-model="contact.firstName" id="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                    <div ng-show="submitted && contactForm.firstName.$invalid" class="help-block">
                        <p ng-show="contactForm.firstName.$error.required" class="text-danger">First name is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.surnamePrefix.$invalid}">
                    <label class="control-label" for="surnamePrefix">Surname prefix</label>
                    <div class="controls">
                        <input name="surnamePrefix" type="text" data-ng-model="contact.surnamePrefix" id="surnamePrefix" class="form-control" placeholder="Surname Prefix">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.lastName.$invalid}">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input name="lastName" type="text" data-ng-model="contact.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                    <div ng-show="submitted && contactForm.lastName.$invalid" class="help-block">
                        <p ng-show="contactForm.lastName.$error.required" class="text-danger">Last name is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && contactForm.email.$invalid}">
                    <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input name="email" type="text" data-ng-model="contact.email" id="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div ng-show="submitted && contactForm.email.$invalid" class="help-block">
                            <p ng-show="contactForm.email.$error.required" class="text-danger">Email is required</p>
                        </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
