<section>
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="contact in contacts" ui-sref="viewContact({contactId:contact.id})" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind="contact.fullName"></h4>
            <p class="list-group-item-text" ng-bind="contact.email"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center">
        No contacts yet, why don't you <a ui-sref="createContact">create one</a>?
    </div>
</section>
